<form method="post" action="{{ path('app_proveedor_delete', {'id': proveedor.id}) }}" onsubmit="return confirm('Estás seguro de que desexas eliminar {{ proveedor.nome }}? Ao eliminar un proveedor elimaranse tamén todos os produtos asociados a este. Esta acción non é recuperable!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedor.id) }}">
    <button class="btn btn-md btn-vermello mb-4">Eliminar</button>
</form>
