<form method="post" action="{{ path('app_produto_delete', {'id': produto.id}) }}" onsubmit="return confirm('Estás seguro de que desexas eliminar {{ produto.nome }}? Esta acción non é recuperable!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produto.id) }}">
    <button class="btn btn-md btn-vermello mb-4">Eliminar</button>
</form>
